
Bankruptcy_in_Taiwan/.ipynb_checkpoints/Bankruptcy_in_Taiwan-checkpoint.ipynb
Air_Quality_of_Abuja/.ipynb_checkpoints/Air_Quality_of_Abuja_part_1-checkpoint.ipynb
Air_Quality_of_Abuja/.ipynb_checkpoints/Air_Quality_of_Abuja_part_2-checkpoint.ipynb
/Air_Quality_of_Abuja/.ipynb_checkpoints
/Credit_card_transaction/.ipynb_checkpoints
/Customer Segmentation in the US/.ipynb_checkpoints
Credit_card_transaction/credit_card_transactions.csv
/Customer Segmentation in the US/dashboard/__pycache__
/Customer Segmentation in the US/dashboard/.ipynb_checkpoints
/Customer Segmentation in the US/__pycache__
/Customer Segmentation in the US/assets/.ipynb_checkpoints
*.csv
